*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #8b734b;
    color: #474b4e;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.menu_container{
    display: flex;
    flex-direction: column;
}




.bar{
  margin: 20px auto;
  width: 500px;
  display: flex;
  flex-direction: row;
}

.searchbar{
  height:45px;
  border: 3px solid #27AE60;
  width:400px;
  font-size:16px;
  outline: none;
  padding-left: 7px;
}

.btn-0 {
  width: 100px;
  height: 45px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
}

.bar:hover{
    box-shadow: 0 0 0 2px white;
}

.btn-0:hover {
    background: #3cb371;
    box-shadow: 0 0 0 2px white;
}

.btn-1 {
  width: 500px;
  height: 45px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
}

.btn-1:hover {
     background: #3cb371;
     box-shadow: 0 0 0 2px white;
}

.filter_bar {
    display: none;
}