<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/css/header.css">
    <link rel="stylesheet"  href="/css/menu.css">
</head>
<body>
<header th:insert="parts/header :: header"></header>
<div class="banner">
    <div class="panel">
        <h2 class="paragraph">Добавить новую позицию в меню</h2>
        <form id="postForm" >
            <input id="data_1" type="text" name="name" placeholder="Введите название позиции" class="form-control"><br>
            <input id="data_2" type="text" name="price" placeholder="Введите цену позиции" class="form-control"><br>
            <input id="data_3" type="text" name="text" placeholder="Введите описание" class="form-control"><br>
            <button id="submit_button" type="submit" class="btn btn-success">Добавить позицию</button>
        </form>
        <script src="/js/form.js"></script>
    </div>
</div>
</body>
</html>