<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/css/header.css">
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet"  href="/css/footer.css">
<body>
<header th:insert="~{parts/header :: header}"></header>
<div class="banner">
    <div class="banner-text">
        <h1>Morning<br> buzz<br> cafe</h1>
        <h2>Идеальное место для кофе</h2>
    </div>
</div>
<div th:insert="~{parts/footer :: footer}"></div>
</body>
</html>