<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/css/header.css">
    <link rel="stylesheet"  href="/css/menu.css">
    <link rel="stylesheet"  href="/css/card.css">
</head>
<body>
<header th:insert="parts/header :: header"></header>
<div class="banner">
    <div th:each="el : ${positions}" class="menu_container">
        <div th:insert="parts/card :: card"></div>
    </div>
</div>
</body>
</html>