<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/css/header.css">
    <link rel="stylesheet"  href="/css/menu.css">
    <link rel="stylesheet"  href="/css/card.css">
    <link rel="stylesheet"  href="/css/footer.css">
</head>
<body>
<header th:insert="~{parts/header :: header}"></header>
<div class="banner">
    <div class="search-block">
        <form id="bar" class="bar" action="menu" method="get">
            <input id="data_1" type="text" name="ask_name" class="searchbar" title="Search" placeholder="Поиск напитка по названию">
            <button id="search_button" type="submit" class="btn-0">Найти</button>
        </form>
        <form id="filter" class="bar" action="menu" method="get">
            <input id="data_5" type="text" name="filter" class="filter_bar" value="filter" title="Filter">
            <button id="filter_button" type="submit" class="btn-1">Фильтровать по цене</button>
        </form>
    </div>
    <div th:each="el : ${positions}" class="menu_container">
        <div th:insert="~{parts/card :: card}"></div>
    </div>
</div>
<div th:insert="~{parts/footer :: footer}"></div>
</body>
</html>