<div th:fragment="product" class="product">
    <div class="product-details">
        <div class="product-title" th:text="${el.name}" />
        <p class="product-description"th:text="${el.text}" />
        <div class="product-price" th:text="${el.price}" />
    </div>
    <div class="product-removal">
        <form id="del_form" class="del_form">
            <input type="text" name="del_name" class="del_bar" th:value="${el.name}">
            <button type="submit" class="remove-product">Удалить</button>
        </form>
    </div>
</div>